@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; 
  --foreground: #171717; 
  --scrollbar-track: #f0f0f0; 
  --scrollbar-thumb: red; 
}


html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}




@layer utilities {
  @media (min-width: 550px) {
    .grid-cols-custom-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 700px) {
    .grid-cols-custom-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
